<div ng-controller="pageController" class="container-fluid">     
      <form ng-submit="generate()">


        <!-- Title -->
    <div>
        Event Title: <input type="text" id="Title" ng-model="data.summary"></input> <br>

    </div>

    <!-- DATE -->

    <h3>dates</h3>

    <div>
        <input type="datetime-local"
               min="2018-06-07T00:00" max="2218-06-14T00:00" ng-model="data.start.dateTime">Start Date/Time</input>
        <input type="datetime-local"
               min="2018-06-07T00:00" max="2218-06-14T00:00" ng-model="data.end.dateTime">End Date/Time</input>
    </div>
    <br>
    <!--Repeat-->
    <h3>repeating</h3>
    <select ng-model= "data.repeat" class = "form-control">
        <option value = "never">Does Not Repeat</option>
        <option value = "weekly">Weekly</option>
        <option value = "monthly">Monthly</option>
        <option value = "annually">Annually</option>
        <option value = "everyWeekday">Every Weekday (Monday to Friday)</option>
    <!-- <input type="radio" name="repeat_tag" id="repeat"> Does not repeat<br>
    <input type="radio" name="repeat_tag" id="repeat"> Weekly<br>
    <input type="radio" name="repeat_tag" id="repeat"> Monthly<br>
    <input type="radio" name="repeat_tag" id="repeat"> Annually<br>
    <input type="radio" name="repeat_tag" id="repeat"> Every Weekday (Monday to Friday)<br> <br> -->
    </select>



    <!--Color-->
    <h3>color</h3>
    <select ng-model="data.color" class="form-control">
        <option value="Tomato">Tomato</option>
        <option value="Flamingo">Flamigo</option>
        <option value="Tangerine">Tangerine</option>
        <option value="Banana">Banana</option>
        <option value="Sage">Sage</option>
        <option value="Basil">Basil</option>
        <option value="Peacock">Peacock</option>
        <option value="Blueberry">Blueberry</option>xx
        <option value="Lavender">Lavender</option>
        <option value="Grape">Grape</option>
        <option value="Graphite">Graphite</option>
    </select>


    <!--Busy-->
    <h3>Busy?</h3>
    <select ng-model="data.busy" class= "form-control">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>

        <div class="btn-group">
          <button class="btn btn-primary" id="generateTest" ng-click="generate()">Add to Calendar!</button>
        </div>
      </form>
</div>
